
{% extends 'base.html.twig' %}

{% block javascripts %}
        
{% endblock %}

{% block body %}

    <body>
        <div class="col text-center">

        {% if app.user %}
            {% if app.user.role == "Admin" %}
                <a class="btn btn-primary btn-lg mt-4" href="{{ path('admin') }}">
                    <i class="fa-solid fa-user me-2"></i> Page Admin
                </a>
                {% endif %}
        {% endif %}
        </div>
        <div class="container text-center">
            <div class="row mt-4" style="height: 100px;">
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100 h-100" type="button">
                        <i class="fa-solid fa-calendar-days me-2"></i> Emploi du temps
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100 h-100" type="button">
                        <i class="fa-solid fa-file-contract me-2"></i> Fiche de paie
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100 h-100" type="button">
                        <i class="fa-solid fa-plane-departure me-2"></i> Congés
                    </button>
                </div>
            </div>
            <div class="row mt-4" style="height: 100px;">
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100  h-100" type="button">
                        <i class="fa-solid fa-clock me-2"></i> Pointage
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100  h-100" type="button">
                        <i class="fa-solid fa-umbrella-beach me-2"></i> CSE
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary btn-lg w-100  h-100" type="button">
                        <i class="fa-solid fa-circle-info me-2"></i> Informations
                    </button>
                </div>
            </div>
        </div>
    </body>


{% endblock %}