{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-primary" style="text-align:center" role="alert">
        <div>
            <span style='font-size:100px;'>&#128077;</span>
        </div>
        <div>
            <strong>Passez une bonne journée !</strong>
        </div>
    </div>
{% endblock %}
