{% extends 'base.html.twig' %}

{% block title %}Hello MerciController!{% endblock %}

{% block body %}
    <div class="alert alert-primary" style="text-align:center" role="alert">
        <div>
            <span style='font-size:100px;'>&#128512;</span>
        </div>
        <div>
            <strong>Merci pour ta participation !</strong>
        </div>
    </div>
{% endblock %}
